@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
  @apply rounded-full;
  scrollbar-width: thin;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  @apply rounded-full
}

body {
  @apply m-0 p-0 overflow-hidden text-white text-xs;
}

p {
  @apply m-0;
}

h1 {
  @apply m-0;
}
